//Стили всего приложения
$app-bg-color: #F0F9FA;

body {
    background-color: $app-bg-color;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    //Убирает марджин по краям приложения:
    margin: 0px;
}