// Стили страницы UsersList.vue
$background-color: #FFFFFF;
$shadow-color: lightgray;

$main-text: #34495D;
$extra-text: gray;

$button-hover: hsla(211, 12%, 48%, 0.200);
$button-active: hsla(211, 12%, 48%, 1);

// Повторяющийся для всех кнопок набор свойств:
%button-default {
    border: none;
    font-size: 14px;
    border-radius: 25px;
    padding: 5px;
    // Кнопки выглядят слишком маленькими в Chrome:
    -webkit-padding-before: 7px;
    -webkit-padding-after: 7px;
    width: 100px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px $shadow-color;
    &:hover {
        background-color: $button-hover;
    }
    &:active {
        background-color: $button-active;
    }
}

// Заголовок страницы:
.users-wrapper__page-title {
    text-align: center;
    margin: 50px 0px 50px 0px;
    font-size: 48px;
    color: $main-text;
}

.users-list {
    // Как вариант "адаптивности" для такого дизайна. 
    // Либо использовать flex:
    @media screen and (width < 875px) {
        display: grid;
        justify-content: center;
        grid-template-columns: 430px;
    }
    @media screen and (width >= 875px) {
        display: grid;
        justify-content: center;
        grid-template-columns: 430px 430px;
    }
    @media screen and (width >= 1300px) {
        display: grid;
        justify-content: center;
        grid-template-columns: 430px 430px 430px;
    }

    font-size: 25px;
    text-align: center;
    width: 100%;
    padding: 0px 0px 25px 0px;

    &__post {
        background-color: $background-color;
        border-radius: 50px;
        margin: auto auto 30px auto;
        width: 400px;
        box-shadow: 1px 1px 5px $shadow-color;
    } 
    &__username {
        font-weight: 700;
        color: $main-text;
        margin-bottom: 5px;
    }
    &__name {
        font-size: 19px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    &__email {
        color: $extra-text;
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    &__posts-button {
        @extend %button-default;
        background-color: #65BDF7;
        color: $background-color;
        margin-right: 5px;

    }
    &__albums-button {
        @extend %button-default;
        background-color: #FEB450;
        color: $background-color;
        margin-left: 5px;
    }
}

